body{
    
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    user-select: none;

} 


h1{
    text-decoration: underline;
}


p{
    font-size: 30px;
}

#listContents{

    margin-bottom: 100px;
    font-size: 20px;

}

.container{

    background-color: lightgreen;
    border: 10px solid gold;

}

.alternatives{

    width: 250px;
    height: 120px;
    text-align: center;
    font-size: 40px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: lightblue;
    border: 2px solid;

}

.alternatives:hover{

    width: 220px;
    height: 120px;
    text-align: center;
    font-size: 40px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: black;
    border: 2px solid lightblue;
    color: lightblue;

}

#alternative1{

    margin-right: 10px;

}

#alternative3{

    margin-right: 10px;
    margin-top: 10px;

}

.alternativesConteiner{

    margin-bottom: 60px;
    
}